@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --line-color: #e5e7eb;
    --state-bold: #272E35;
}
html.dark {
    --line-color: rgba(255,255,255,0.2);
}

.borderBlack {
    @apply border border-black/10
}


.heading-ct1 {
    @apply text-[84px] font-bold leading-[100%] text-[--state-bold] 
}
.heading-1 {
    @apply text-[72px] font-bold leading-[125%] text-[--state-bold]
}
.heading-2 {
    @apply text-[64px] font-bold leading-[125%]text-[--state-bold]
}
.heading-3 {
    @apply text-[56px] font-bold leading-[125%]text-[--state-bold]
}
.heading-4 {
    @apply text-[48px] font-bold leading-[125%]text-[--state-bold]
}
.heading-5 {
    @apply text-[32px] font-bold leading-[125%]text-[--state-bold]
}
.heading-6 {
    @apply text-[24px] font-bold leading-[125%]text-[--state-bold]
}
.paragraph-normal {
    @apply text-[18px] font-[400] leading-[30px]text-[--state-bold]
}
.paragraph-sm {
    @apply text-[16px] font-[400] leading-[24px]text-[--state-bold]
}
.paragraph-lg {
    @apply text-[32px] font-[600] leading-[38px]text-[--state-bold]
}
.paragraph-mobile {
    @apply text-[24px] font-[600] leading-[125%]text-[--state-bold]
}

