@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --line-color: #e5e7eb;
    --state-bold: #272E35;
    --primary-black: #161513;
    --secondary-black: #1C1C22;
    --primary-white: #F0F2F5;
    --secondary-white: #ffffff;
}
html.dark {
    --line-color: rgba(255,255,255,0.2);
}

.borderBlack {
    @apply border border-black/10
}




/* color */
.bg-gradient {
    @apply bg-gradient-to-r from-[#B16CEA] from-[14%] via-[#FF5E69] via-[44%] via-[#FF8A56] via-[72%] via-[#FFA84B] to-[#FFA84B]
}
.t-gradient {
    @apply bg-gradient bg-clip-text text-transparent
}


/* button */
.button-primary {
    @apply w-[209px] h-[62px] flex-shrink-0
}
.button-secondary {
    @apply w-[237px] h-[62px] flex-shrink-0 bg-transparent text-[var(--secondary-white)]
}

